@import "tailwindcss";

@theme {
  --color-primary: #E8001D;
  --color-primary-dark: #C0001A;
  --color-brand-black: #111111;
  --color-brand-gray: #F5F5F5;
}

body {
  background-color: #F5F5F5;
  color: #111111;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: #E8001D;
  box-shadow: 0 0 0 3px rgba(232, 0, 29, 0.12);
}
